<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>Snowy Pier Games</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    {% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script id="mcjs">
        !function( c, h, i, m, p ) {
          m = c.createElement( h ),
          p = c.getElementsByTagName( h )[0],
          m.async = 1,
          m.src = i,
          p.parentNode.insertBefore( m, p )
        } (
          document,
          "script",
          "https://chimpstatic.com/mcjs-connected/js/users/d38c54d6dba2f13089eb677ac/839772f99f5e8a0db70dccc5e.js"
        );
    </script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin&display=swap">
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}"/>
</head>

<body class="h-100">
<div class="spg-body">
    <div class="row">
        <div class="col-12">
            {% include "nav.html" %}
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-1"></div>
        <div class="col-12 col-md-10">
            <div class="spg-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="d-none d-md-block col-md-1"></div>
    </div>

    <footer class="spg-footer">
        <div class="row pb-2 pt-3">
            <div class="col-12 col-md-2"><a href="/about" class="text-light">About</a></div>
            <div class="col-12 col-md-2"><a href="/contact" class="text-light">Contact</a></div>
            <div class="col-12 col-md-2"><a href="/subscribe" class="text-light">Subscribe</a></div>
            <div class="col-12 col-md-4"><a href="/termsandconditions" class="text-light">Terms and Conditions</a></div>
            <div class="col-12 col-md-2"><a href="/privacypolicy" class="text-light">Privacy Policy</a></div>
        </div>
        <div class="row pb-3">
            <div class="col-0  col-md-3"></div>
            <div class="col-12 col-md-6">
                <span class="text-secondary">&copy; 2020 Snowy Pier Games LLC. All rights reserved.</span>
            </div>
            <div class="col-0  col-md-3"></div>
        </div>
    </footer>
</div>

</body>
</html>
