<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Snowy Pier Games</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    {% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
<div class="row">
    <div class="col-12 spg-base-nav">
        {% include "nav.html" %}
    </div>
</div>
<div class="row">
    <div class="d-none d-md-block col-md-1 spg-background-left"
         style="background-image: url({% static 'assets/board-game.jpg' %})"></div>
    <div class="d-none d-md-block col-md-3 spg-base-feed bg-light">
        {% include "feed.html" %}
    </div>
    <div class="col-md-7 spg-base-content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="d-none d-md-block col-md-1 spg-background-right"
         style="background-image: url({% static 'assets/board-game.jpg' %})"></div>
</div>

<footer>
    <div class="row">
        <div class="col-12 spg-base-footer">
            <div class="container">
                <span>&copy; 2020 Snowy Pier Games LLC. All rights reserved.</span>
                <span><a href="/termsandconditions">Terms and Conditions</a></span>
                <span><a href="/privacypolicy">Privacy Policy</a></span>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
