{% load static %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
<div class="container">
  <div class="row" style="padding-bottom: 10px">
    <div class="col-4">
      <a href="https://twitter.com/SnowyPier_Games">
        <img border=0 width="30dp" height="30dp" alt="twitter" src="/static/assets/twitter-icon.png">
      
      </a>
    </div>
    <div class="col-4">
      <a href="https://www.facebook.com/SnowyPierGames/">
        <img border=0 width="30dp" height="30dp" alt="twitter" src="/static/assets/facebook-icon.png">
      
      </a>
    </div>
    <div class="col-4">
      <a href="https://twitter.com/SnowyPier_Games">
        <img border=0 width="30dp" height="30dp" alt="twitter" src="/static/assets/mail-icon.png">
      
      </a>
    </div>
  </div>

</div>


<div class="spg-feed">
    <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/SnowyPier_Games?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
