{% load static %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
<div class="container">
  <div class="row icon-holder">
    <div class="col icon">
      <a href="https://boardgamegeek.com/boardgamepublisher/45673/snowy-pier-games">
          <img border=0 width="100%" alt="twitter" src="/static/assets/bgg-icon-outlined.svg">
      </a>
    </div>
    <div class="col icon">
      <a href="https://twitter.com/SnowyPier_Games">
        <img border=0 width="100%" alt="twitter" src="/static/assets/twitter-icon.png">
      </a>
    </div>
    <div class="col icon">
      <a href="https://www.facebook.com/SnowyPierGames/">
        <img border=0 width="70%" alt="twitter" src="/static/assets/facebook-icon.png">
      </a>
    </div>
    <div class="col icon">
      <a href="mailto:contact@snowypiergames.com">
        <img border=0 width="90%" alt="twitter" src="/static/assets/mail-icon.png">
      </a>
    </div>

  </div>

</div>


<div class="spg-feed">
    <a class="twitter-timeline" height="750" data-theme="light" href="https://twitter.com/SnowyPier_Games?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

