{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<nav class="spg-nav navbar navbar-expand-md navbar-dark fixed-top text-uppercase">
    <a class="navbar-brand spg-logo" href="/">
        <img class="d-none d-md-block w-100" src="{% static 'assets/snowypiergames.svg' %}"/>
        <span class="d-block d-md-none">Snowy Pier Games</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#spg-navbar"
            aria-controls="spg-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="spg-navbar">
        <ul class="navbar-nav mx-auto justify-content-around w-100">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/games" id="spg-dropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Games</a>
                <div class="dropdown-menu" aria-labelledby="spg-dropdown">
                    <a class="dropdown-item" href="/games">All Games</a>
                    <a class="dropdown-item" href="/games/tatteredtales">Tattered Tales</a>
                </div>
            </li>
        </ul>
        <form class="input-group form-inline my-2 my-md-0 w-50" action="/search" method="get">
            <input class="form-control" type="text"
                   placeholder="Search" aria-label="Search" name="searchText" value="{{searchText}}">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>
    </div>
</nav>
