.spg-base-nav {
  background-color: #111111;
}

.spg-background-left, .spg-background-right {
  background-attachment: static;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  opacity: 0.25;
}

.spg-background-left {
  background-position: center;
}

.spg-background-right {
  background-position: right;
}

.spg-base-feed {
  padding-top: 1%;
  padding-bottom: 1%;
  border-left: 2px solid #111111;
}

.spg-base-content {
  padding-top: 1%;
  border-right: 2px solid #111111;
}

.spg-base-footer {
  color: white;
  background-color: #111111;
}
