.spg-background-left, .spg-background-right {
  background-attachment: static;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  opacity: 0.25;
}

.spg-background-left {
  background-position: center;
}

.spg-background-right {
  background-position: right;
}

.spg-content {
  padding-top: 15%;
  min-height: 800px;
}

.form-control {
  margin: 0 0 2% 0;
}

.spg-footer {
  text-align: center;
  color: white;
  background-color: #111111;
}

.spg-footer span {
  padding: 0 2% 0 2%;
}
