.spg-body {
  min-height: 100%;
  position: relative;
}

.spg-content {
  padding: 16% 0 128px 0;
}

.spg-footer {
  background: #222222;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
