.spg-body {
  min-height: 100%;
  position: relative;
}

.spg-content {
  padding: 16% 4% 200px 4%;
}

.spg-footer {
  background: #111111;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
