.spg-carousel-logo {
  background-image: radial-gradient(white, #33AAFF);
}

.spg-squid {
  width: 125%;
}

.spg-video-description {
  width: 89%;
  padding-bottom: 1em;
}

.spg-video-container {
  position: relative;
  padding-top: 50%;
}

.spg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 89%;
  height: 100%;
}
