.ttales-box-top {
  float: left;
  width: 33%;
}

.ttales-video-container {
  position: relative;
  padding-top: 28%;
  margin-bottom: 5%;
}

.ttales-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  margin-left: 25%;
}