{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/games/tatteredtales.css' %}">

<h2>Tattered Tales</h2>
<hr>
<p> Can you <b>Locate the lost city of El Dorado</b> or <b>Survive on Mars for a month until the rescue shuttle
    arrives</b>? These are just a couple of the situations you may encounter in the world of Tattered Tales. Compete as
    teams to create stories to win the votes of your opposing publishing companies. But there’s a catch! You only have
    limited items available to you! Will you be able to use your random items to help create a “tattered tale”? If so,
    you may have what it takes to become the Master Storyteller!</p>
<p>Tattered Tales is a storytelling game where players work in teams (called publishing companies) to create unique
    stories! As co-authors of the tale, you and your teammates must use a diverse set of random items to create a story
    that resolves a given situation. There is limited time to figure out how to not only use the items available to you,
    but also make your story immersive and entertaining. Players shift to new publishing companies each round, but the
    player who helps create the most captivating stories throughout the game claims the title of Master Storyteller!</p>
<a class="mb-4 btn btn-dark" href="https://www.amazon.com/dp/B08C9GYZXT?ref=myi_title_dp" role="button">
    Buy Tattered Tales on Amazon</a>

<h2>How to play</h2>
<hr>
<div class="text-center">
    <p>Tattered Tales is a team-based storytelling party game. Players will split into teams, called publishing
        companies, each round.</p>
    <p>The bookkeeper flips over the top situation card and reads it out loud. This is the situation each company will
        attempt to resolve this round.</p>
    <p><img class="w-50" src="{% static 'assets/situation.jpg' %}"/></p>
    <p>Then, the bookkeeper deals five item cards to the storyteller of each company.</p>
    <p><img class="w-50" src="{% static 'assets/hand-of-cards.jpg' %}"/></p>
    <p>After this, they flip over the sand timer and each storyteller picks up their cards. Each publishing company now
        has two minutes to concoct an entertaining story using the items in their hand to complete the situation that
        was revealed.</p>
    <p>[Picture of team creating story]</p>
    <p>Once the time runs out, each storyteller takes a turn telling their team’s story.</p>
    <p>[Storyteller telling story]</p>
    <p>After all stories have been told, each person votes for the story the liked best. All players (not just the
        storyteller) on a publishing company get a point for each vote that company receives.</p>
    <p>[People voting]</p>
    <p>Once the players have finished an agreed-upon number of rounds, add up each player’s score throughout the game.
        The player with the highest score is deemed the master storyteller. If only one round was played, the Company
        with the most votes wins as a team.</p>
    <p>[People laughing]</p>
    <div class="spg-video-container">
        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                class="spg-video">
        </iframe>
    </div>

    <a class="mb-4 btn btn-dark" href="{% static 'assets/tattered-tales-rules.pdf' %}">Tattered Tales Rulebook PDF</a>

</div>
{% endblock %}
