{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/games/tatteredtales.css' %}">

<h2>Tattered Tales</h2>
<hr>
<p> Can you <b>Locate the lost city of El Dorado</b> or <b>Survive on Mars for a month until the rescue shuttle
    arrives</b>? These are just a couple of the situations you may encounter in the world of Tattered Tales. Compete as
    teams to create stories to win the votes of your opposing publishing companies. But there’s a catch! You only have
    limited items available to you! Will you be able to use your random items to help create a “tattered tale”? If so,
    you may have what it takes to become the Master Storyteller!</p>
<p>Tattered Tales is a storytelling game where players work in teams (called publishing companies) to create unique
    stories! As co-authors of the tale, you and your teammates must use a diverse set of random items to create a story
    that resolves a given situation. There is limited time to figure out how to not only use the items available to you,
    but also make your story immersive and entertaining. Players shift to new publishing companies each round, but the
    player who helps create the most captivating stories throughout the game claims the title of Master Storyteller!</p>

{% endblock %}
