{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/games/tatteredtales.css' %}">

<div class="text-center">
    <h2>Tattered Tales</h2>
    <hr>
    <div class="row mb-5">
        <div class="col-12 col-md-5 mb-4">
            <img class="w-50 mb-4" src="{% static 'assets/box-top.jpg' %}">
            <a class="w-50 btn btn-dark" role="button" target="_blank"
               href="https://www.amazon.com/gp/product/B08C9GYZXT/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08C9GYZXT&linkCode=as2&tag=snowypiergame-20&linkId=a0e4a8e1ba3ac5b446eb37737d281ac5">
                Buy Tattered Tales
            </a><img src="//ir-na.amazon-adsystem.com/e/ir?t=snowypiergame-20&l=am2&o=1&a=B08C9GYZXT"
                     width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
        </div>
        <div class="col-12 col-md-7">
            <p>Can you <b>Locate the lost city of El Dorado</b> or <b>Survive on Mars for a month until the rescue
                shuttle arrives</b>? These are just a couple of the situations you may encounter in the world of
                Tattered Tales. Compete as teams to create stories to win the votes of your opposing publishing
                companies. But there’s a catch! You only have limited items available to you! Will you be able to use
                your random items to help create a “tattered tale”? If so, you may have what it takes to become the
                Master Storyteller!</p>
            <p>Tattered Tales is a storytelling game where players work in teams (called publishing companies) to create
                unique stories! As co-authors of the tale, you and your teammates must use a diverse set of random items
                to create a story that resolves a given situation. There is limited time to figure out how to not only
                use the items available to you, but also make your story immersive and entertaining. Players shift to
                new publishing companies each round, but the player who helps create the most captivating stories
                throughout the game claims the title of Master Storyteller!</p>
        </div>
    </div>
</div>

<div class="text-center">
    <h2>How to play</h2>
    <hr>

    <p>Tattered Tales is a team-based storytelling party game. Players will split into teams, called publishing
        companies, each round. The bookkeeper flips over the top situation card and reads it out loud. This is the
        situation each company will attempt to resolve this round.</p>
    <img class="mb-5" style="width: 32%;" src="{% static 'assets/situation.jpg' %}"/>

    <p>Then, the bookkeeper deals five item cards to the storyteller of each company.</p>
    <img class="w-50 mb-5" src="{% static 'assets/hand-of-item-cards.jpg' %}"/>

    <p>After this, they flip over the sand timer and each storyteller picks up their cards. Each publishing company now
        has two minutes to concoct an entertaining story using the items in their hand to complete the situation that
        was revealed.</p>
    <img class="w-50 mb-5" src="{% static 'assets/authoring.jpg' %}"/>

    <p>Once the time runs out, each storyteller takes a turn telling their team’s story.</p>
    <img class="w-50 mb-5" src="{% static 'assets/storytelling.jpg' %}"/>

    <p>After all stories have been told, each person votes for the story the liked best. All players (not just the
        storyteller) on a publishing company get a point for each vote that company receives.</p>
    <img class="w-50 mb-5" src="{% static 'assets/scorekeeping.jpg' %}"/>

    <p>Once the players have finished an agreed-upon number of rounds, add up each player’s score throughout the game.
        The player with the highest score is deemed the master storyteller. If only one round was played, the Company
        with the most votes wins as a team.</p>
    <img class="w-50 mb-5" src="{% static 'assets/laughing.jpg' %}"/>

    <p>Want a more detailed explanation? Check out our "How-to-play" video for a summary of the rules.</p>
    <div class="ttales-video-container">
        <iframe src="https://www.youtube.com/embed/y3NF2iV7yDU" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                class="ttales-video"></iframe>
    </div>

    <p>Or download the rulebook for the game.</p>
    <a class="btn btn-dark" href="{% static 'assets/tattered-tales-rules.pdf' %}">Tattered Tales Rulebook PDF</a>
</div>

{% endblock %}
