{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/about.css' %}">

<h2>About us</h2>
<hr>
<p>Snowy Pier Games was started by three brothers with a passion for board games. Through years of experience playing
    hundreds of different hobby-style tabletop games, we have developed a keen eye for determining what makes games
    truly fun to play. Now, our mission is to create amazing board and card games for every type of gamer. Whether
    you're new to gaming or have been in the hobby for awhile, we can provide you with your next great game. Let's
    play!</p>


{% endblock %}
