{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/about.css' %}">

<h2>About us</h2>
<hr>

<div class="row">
    <div class="col-12 col-md-2 text-center">
        <img class="d-none d-md-inline w-100" src="{% static 'assets/martian-scaled.png' %}">
        <img class="d-inline d-md-none w-50" src="{% static 'assets/martian-scaled.png' %}">
    </div>
    <div class="col-12 col-md-10">
        <p>Snowy Pier Games was started by three brothers with a passion for board games. Through years of experience
            playing hundreds of different hobby-style tabletop games, we have developed a keen eye for determining what
            makes games truly fun to play. Now, our mission is to create amazing board and card games for every type of
            gamer. Whether you're new to gaming or have been in the hobby for awhile, we can provide you with your next
            great game. Let's play!</p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col">
        <h3 class="text-center">Kyle Pierson</h3>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <!--TODO: ADD PICTURES-->
    </div>
    <div class="col-10">
        <p>Kyle has been playing hobby-style board and card games ever since elementary school. Like many kids, he was
            enthralled by the collectible card game craze of the early 2000s. As time went by, his family developed the
            habit of frequenting the local game store, resulting in exposure to a variety of new and exciting games.
            Some of their early purchases included classics such as Acquire, Puerto Rico, Heroscape, Dominion,
            Carcassone, Ticket to Ride, and Agricola. Today, his favorites range from complex games like Great Western
            Trail and Suburbia to quirky party games like Balderdash and Telestrations. He currently lives in Utah with
            his supportive wife, and works as a software engineer for NVIDIA. Besides board gaming, his hobbies include
            PC gaming, LEGO, tinkering, and starting projects that he never finishes.
        </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <h3 class="text-center">Darin Pierson</h3>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <!--TODO: ADD PICTURES-->
    </div>
    <div class="col-10">
        <p>Darin developed a love of board games as a teenager. His favorite game genres include deck building,
            team-based play, party games, and other strategy games (assuming they are not too long!) He went to college
            at BYU and later moved to texas with his wife and three children. His "day job" is being a tax accountant.
            In addition to designing games, Darin enjoys playing tennis, basketball, any musical instument, and golf.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h3 class="text-center">Bryce Pierson</h3>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <!--TODO: ADD PICTURES-->
    </div>
    <div class="col-10">
        <p>Bryce is the youngest brother, and also the most competetive. He loves to play any game, but especially the
            ones that require the most strategy. His favorite games are Dominion, Bohnanza, and Great Western Trail. He
            lives in Provo, Utah and is working on his masters in computer science. His hobbies include guitar, golf,
            playing games (of course), and watching movies.
        </p>
    </div>
</div>


{% endblock %}
