{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/contact.css' %}">

<h2>Contact</h2>
<hr>
<p>Type your question here or send us an <a href="mailto:contact@snowypiergames.com">email</a></p>

<form class="form-group" action="/contact" method="post">
    {% csrf_token %}
    <label class="spg-form-element" for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Your name" aria-label="Name" name="name">

    <label class="spg-form-element" for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="your@email.com" aria-label="Email" name="email">

    <label class="spg-form-element" for="question">What's your question?</label>
    <textarea class="form-control" id="question" rows="10" placeholder="Type a few sentences here..."
              aria-label="Question" name="question"></textarea>

    <div class="spg-form-element">
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>

{% endblock %}
