{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/contact.css' %}">

<h2>Contact</h2>
<hr>
{% if displayText %}
<div class="alert alert-primary" role="alert">{{ displayText }}</div>
{% else %}
<p>Type your question here or send us an <a href="mailto:contact@snowypiergames.com">email</a></p>

<form action="/contact" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="your@email.com" aria-label="Email"
               name="email">
    </div>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" id="subject" placeholder="Subject" aria-label="Subject" name="subject">
    </div>
    <div class="form-group">
        <label for="message">What's your question?</label>
        <textarea class="form-control" id="message" rows="10" placeholder="Type a few sentences here..."
                  aria-label="Message" name="message"></textarea>
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
</form>
{% endif %}
{% endblock %}
