{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/games.css' %}">

<h2>Games</h2>
<hr>
<div class="card spg-game-card bg-dark">
    <a href="/games/tatteredtales">
        <div class="row no-gutters">
            <div class="col-4">
                <img src="{% static 'assets/mars-cropped.png' %}" class="card-img" alt="tattered-tales">
            </div>
            <div class="col-8">
                <div class="card-body text-white">
                    <h1 class="card-title font-weight-bold">T<span class="small font-weight-bold">ATTERED</span>
                        T<span class="small font-weight-bold">ALES</span></h1>
                    <p class="card-text">Can you <b>Locate the lost city of El Dorado</b> or <b>Survive on Mars for a
                        month until the rescue shuttle arrives</b>? These are just a couple of the situations you may
                        encounter in the world of Tattered Tales.</p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}
