{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}">

<script src="{% static 'js/home.js' %}"></script>

<div class="row text-center mb-5">
    <div class="col-12">
        <img class="d-none d-md-block spg-box-top" src="{% static 'assets/box-top-awards.jpg' %}">
        <h3>Tattered Tales is officially released!</h3>
        <hr>
        <div class="text-left">
            <p>Can you <b>Locate the lost city of El Dorado</b> or <b>Survive on Mars for a month until the rescue
                shuttle arrives</b>? These are just a couple of the situations you may encounter in the world of
                Tattered Tales. Compete as teams to create stories to win the votes of your opposing publishing
                companies. But there’s a catch! You only have limited items available to you!</p>
            <p>Will you be able to use your random items to help create a “tattered tale”? If so, you may have what it
                takes to become the Master Storyteller!</p>
        </div>
        <a class="btn btn-dark mb-3" role="button" href="https://www.amazon.com/dp/B08C9GYZXT">
            Buy Tattered Tales on Amazon
        </a>
        <img class="d-block d-md-none w-100" src="{% static 'assets/box-top-awards.jpg' %}">
        <div class="text-left">
            <p>Tattered Tales is an award-winning storytelling game where players work in teams (called publishing
                companies) to create unique stories! As co-authors of the tale, you and your teammates must use a
                diverse set of random items to create a story that resolves a given situation. There is limited time to
                figure out how to not only use the items available to you, but also make your story immersive and
                entertaining.</p>
            <p>Players shift to new publishing companies each round, but the player who helps create the most
                captivating stories throughout the game claims the title of Master Storyteller!</p>
        </div>
    </div>
</div>

<div class="row text-center mb-5">
    <div class="col-12">
        <img class="d-none d-md-block spg-box-top" src="{% static 'assets/tabletopia-screenshot-border.jpg' %}">
        <h3>Try the Game for Free on Tabletopia!</h3>
        <hr>
        <div class="text-left">
            <p>
                We've made a portion of our game available online for free! Now you can try out this storytelling party
                game on <a href="https://tabletopia.com/games/tattered-tales">Tabletopia.com</a> or with the Tabletopia
                Steam client. Make sure to join our <a href="https://discord.com/invite/H2ygpsy8Xz">Discord</a> server
                for player coordination and in-game communication.
            </p>
        </div>
        <div class="row">
            <div class="col-6">
                <a class="btn btn-dark w-100 mb-3" role="button" href="https://tabletopia.com/games/tattered-tales">
                    Play on Tabletopia
                </a>
            </div>
            <div class="col-6">
                <a class="btn btn-dark w-100 mb-3" role="button" href="https://discord.com/invite/H2ygpsy8Xz">
                    Join Discord
                </a>
            </div>
        </div>
        <img class="d-block d-md-none w-100" src="{% static 'assets/tabletopia-screenshot-border.jpg' %}">
    </div>
</div>

<div class="row text-center mb-5">
    <div class="col-12 col-md-6">
        <div class="spg-video-column">
            <h3>Want a quick overview?</h3>
            <hr>
            <p>Check out our "How-to-play" video for a summary of the rules.</p>
            <div class="spg-video-container">
                <iframe src="https://www.youtube.com/embed/es2JFYrTwls" frameborder="0" allowfullscreen
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        class="spg-video"></iframe>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-3"></div>
    <div class="d-none d-md-block col-md-3">
        {% include "feed.html" %}
    </div>
</div>

{% endblock %}
